body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  margin: 0 auto 0 auto ;
  font-size: 5rem;
  padding-top: 20px;
  font-family: 'Sacramento', cursive;
  color: #63b7af;
  line-height: .5;
}

h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #66BFBF

}
h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #11999e;
}
hr  {
  border: dotted #eaf6f6  8px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
a {
  color: #11999e;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}
.top-container {
  background-color: #d4f3ef;
  position: relative;
padding-top:  130px;

  border-bottom-width:0;

}
.top-cloud {
  width: 10%;
  position: absolute;
  padding-bottom:  150px;
  right:200px;
  top: 60px;
 }

.bottom-cloud {
  width: 10%;
  position: absolute;
  left: 200px;
  bottom: 500px;
 }
.profile {
  padding-top: 50px;
}
.intro {
  width: 30%;
  margin: auto;
  line-height: 2;
}
.underline {
  text-decoration: underline;
}
.middle-container {
  margin: 100px 0 ;
}

.a-web {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2em;
  font-weight: 1000;
}
.skill-row {
  width: 40%;
  margin:100px auto 200px auto;
  text-align: auto;
  line-height: 2;
}
.app-developer {
  width: 50%;
  /* float: left;
  margin-right: 50px;
  margin-bottom: 100px;
  padding-right: 0px; */
}

.web-img {
  width: 50%;
  /* float: right; */
  /* margin-left: 50px;
  margin-top: 0;
  padding-right: : 0px; */

}
.help-dispription {
  width: 50%;
  margin: auto;

}
.h2-text {
  margin-top: 100px;
}
.mountain {

  margin-top: 0;
  position: relative;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;

}

.btn {
	-moz-box-shadow: 5px 10px 19px -6px #4299a6;
	-webkit-box-shadow: 5px 10px 19px -6px #4299a6;
	box-shadow: 5px 10px 19px -6px #4299a6;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99) );
	background:-moz-linear-gradient( center top, #599bb3 5%, #408c99 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99');
	background-color:#599bb3;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
font-family: 'Montserrat Alternates', sans-serif;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:-3px 7px 0px #3d768a;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3) );
	background:-moz-linear-gradient( center top, #408c99 5%, #599bb3 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3');
	background-color:#408c99;
}.btn:active {
	position:relative;
	top:1px;
}

 .bottom-container {
   background-color: #66bfbf;
  padding:50px 0 20px;
 }
 .copyright {
   color: #eaf6f6;
   font-size: 0.75rem;
   padding: 20px 0;
 }
